@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=IBM+Plex+Mono:wght@300&family=Press+Start+2P&family=Space+Mono&display=swap');

body {
  margin: 0;
  font-family: 'Space Mono', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
